<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css"> 
        <link rel="icon" href="/img/weather.png">
        <title>About page</title>
    </head>
    <body>
           <div class="main-content">
        {{>header}}
        <p>Site created for training purpose</p>
        <p>It uses information from mapbox.com and weatherstack.com</p>
        <img class="portrait" src="/img/comichem2.jpg">
        </div>
           {{>footer}}
    </body>
</html>